@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

*{
    cursor: none;
}
.demo {
    border: 5px solid var(--mycolor0301);
    margin: 15px;
    padding: 15px;
}

body {
    
    font-family: "Noto Sans TC", sans-serif;
    overflow-x: hidden;
    cursor: none;
}

.fw-100 {
    font-weight: 100;
}

.fw-300 {
    font-weight: 100;
}

.fw-400 {
    font-weight: 100;
}

.fw-500 {
    font-weight: 100;
}

.fw-700 {
    font-weight: 100;
}

.fw-900 {
    font-weight: 100;
}

:root {
    --mycolor0101: #D1EDE1;
    --mycolor0102: #7BC5AE;
    --mycolor0103: #028C6A;
    --mycolor0104: #003E19;
    --mycolor0201: #D1DDDB;
    --mycolor0202: #85B8CB;
    --mycolor0203: #1D6A96;
    --mycolor0204: #283B42;
    --mycolor0301: #0359AE;
    --mycolor0302: #14B09B;
    --mycolor0303: #EBE5D9;
    --mycolor0304: #CC8A56;
}

.box01 {
    width: 200px;
    height: 200px;
    padding: 15px;/*padding: 15px,往內推15PX*/
    margin: 15px;
    border: 2px solid #fa0; 
}
.bg-cover{
    background-position:center center ;
    background-size: cover;
}


/* .myMOUSE {
    cursor:url(),pointer; 
   }  */

.cursor{
    position: absolute;
    left: 0;
    top: 0;
    /* border:1.5px solid white; */
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transform: translate(-50%,-50%);
    pointer-events: none;
    
}
.cursor::after, .cursor::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    border-radius: 50px;
}
.cursor::before{
    background-color: white;
    /* transform: translate(-50%, -50%) scale(3); */
}
.cursor.click::before{
    animation: click .5s ease-in-out forwards;
}
.cursor01{
    cursor: none;
}

@keyframes click{
    0%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}

.background01{
    background-color: black;
    background: no-repeat;
    /*background: no-repeat 背景圖案不重複*/
    background-size:cover;/*背景圖片自動縮放到覆蓋內容區域的最小尺寸*/
    cursor: none;
    
}
.box01 {
    width: 1080px;
    height: 768px;
    padding: 15px;/*padding: 15px,往內推15PX*/
    margin: 15px;
    border: 2px solid white;
    border-radius: 2%;  
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);   
    
    
}

